APPS_SCRIPT_URL="https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec"
APPS_SCRIPT_READ_TOKEN="troque-este-token"

HUBSPOT_PORTAL_ID="0000000"
HUBSPOT_FORM_ID="00000000-0000-0000-0000-000000000000"

EVOLUTION_API_URL="https://evolution.exemplo.com"
EVOLUTION_INSTANCE="ws-inovacoes"
EVOLUTION_API_KEY="troque-esta-chave"
OWNER_PHONE="5511999999999"

ADMIN_PASSWORD="troque-esta-senha"
